---
import HorizontalCard from "../HorizontalCard.astro";
---

<section id="Projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Projects</div>
  </div>

  <HorizontalCard
    title="AI Generated Art Classifier"
    img="/midjourney.jpeg"
    desc="Convolutional Neural Network that determines if art was AI generated with a 91% testing accuracy. Compares AI-generated art from Midjourney and human-created art from the Wiki-Art database."
    url="https://github.com/Tom-Caz/AIGeneratedArtClassifier"
    tags={["Python", "Tensorflow", "Keras"]}
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Spotify Sub-Playlist Generator"
    img="/spotify.jpeg"
    desc="Web app that creates genre-based sub-playlists from a user’s playlists or liked songs using the Spotify API. Built using Django on the backend and hosted on an AWS EC2 instance."
    url="https://github.com/Tom-Caz/"
    tags={["Python", "Django", "REST APIs"]}
  />
</section>
