<section id="Home">
  <div class="pb-12 mt-5">
    <div class="text-5xl font-bold">Thomas Cazort</div>
    <div class="text-3xl py-3 font-bold">Full-Stack Software Engineer</div>
    <div class="py-2">
      <text class="text-lg">
        Hello! I'm Thomas Cazort. I'm a <b>Full-Stack Engineer</b> and a grad student at <b
          >The University of Southern California</b
        > pursuing my <b>Master's in Computer Science</b>.
      </text>
    </div>
    <div class="py-2">
      <text class="text-lg">
        In my free time, I'm usually rock climbing, biking, exploring the city,
        or working on my latest project.
      </text>
    </div>
    <div class="mt-8 flex flex-col md:flex-row">
      <a href="./resume.pdf" class="btn btn-outline"> View my Resume</a>
      <a
        class="btn btn-outline md:ml-5 text-sm mt-4 md:mt-0"
        href="https://linkedin.com/in/thomascazort337/"
        target="_blank"
      >
        Connect on LinkedIn</a>
    </div>
  </div>
</section>
