---
import HorizontalExperience from "../HorizontalExperience.astro";
---

<section id="Work-Experience">
  <div>
    <div class="text-3xl w-full font-bold mb-2">Work Experience</div>
  </div>
  <HorizontalExperience
  id="HackSC"
  title="HackSC"
  subtitle="Software Engineer"
  img="/hackSC.png"
  desc="Software Engineer for USC's flagship hackathon developing tools to ensure smooth event operations and quality user experiences."
  url="https://www.youdleit.com/"
  duration="Sept 2023 - Present"
  tags={["Typescript", "NextJS", "React", "ExpressJS"]}
  />
  <div class="divider my-0"></div>
  <HorizontalExperience
    id="Youdle"
    title="Youdle"
    subtitle="Full-Stack Software Engineer"
    img="/youdle.png"
    desc="Fullstack Software Engineer focused on integrating small businesses into Youdle's product search via Shopify."
    url="https://www.youdleit.com/"
    duration="May 2023 - Jan 2024"
    tags={["Typescript", "NextJS", "React", "Supabase"]}
  />
  <div class="divider my-0"></div>
  <HorizontalExperience
    id="REU"
    title="The University of Memphis"
    subtitle="Undergraduate Researcher"
    duration="Jan 2023 - Aug 2023"
    img="/UofM.jpg"
    desc="Research Experience for Undergraduates (REU) under Dr. Deepak Venugopal focusing on fairness in machine-learning model feature selection."
    url="https://www.memphis.edu/cs/"
    tags={["Python", "Pandas", "Tensorflow", "PyTorch"]}
  />
  <div class="divider my-0"></div>
  <HorizontalExperience
    id="IP"
    title="International Paper"
    subtitle="Connectivity Software Engineer - Intern"
    img="/IP.png"
    desc="Implemented a code automation and deployment tool that saves ~1000 hours per year."
    url="https://www.internationalpaper.com/"
    duration="May 2022 - Aug 2022"
    tags={["Javascript", "HTML", "CSS"]}
  />
</section>
