---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
import TimeLineBullet from "../components/cv/TimeLineBullet.astro";
---

<BaseLayout title="CV" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-5xl w-full font-bold">Thomas Cazort</div>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="The University of Southern California"
      subtitle="M.S in Computer Science"
      start="August 2023"
      end="Present"
      description="Viterbi School of Engineering, Los Angeles CA"
    />
    <TimeLineElement
      title="The University of Memphis"
      subtitle="B.S. in Computer Science"
      start="August 2020"
      end="May 2023"
      description="College of Arts and Sciences, Memphis TN"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineBullet
      title="HackSC"
      subtitle="Software Engineer"
      start="September 2023"
      end="Present"
      bullets={[
        "Created a custom Discord bot using Express.js to streamline event management used by 200+ hackathon participants and sponsors.",
        "Revamped the frontend of our team page utilizing React and Next.js while adhering to the established Figma design.",
      ]}
    />
    <TimeLineBullet
      title="Youdle"
      subtitle="Full-Stack Software Engineer"
      start="May 2023"
      end="January 2023"
      bullets={[
        "Created and published a Shopify sales channel app, enabling synchronization between multiple stores’ inventory and Youdle's Supabase database.",
        "Optimized search algorithm to decrease search time by 500%, significantly improving user experience",
        "Developed GraphQL queries in Typescript to connect and retrieve information from Shopify.",
        "Contributed to the transition from Django to Next.js by converting key REST API functions.",
      ]}
    />
    
    <TimeLineBullet
      title="The University of Memphis"
      subtitle="Undergraduate Researcher"
      start="January 2023"
      end="August 2023"
      bullets={[
        "Research Experience for Undergraduates (REU) under Dr. Deepak Venugopal focusing on fairness in machine-learning model feature selection.",
        "Utilized PyTorch, Tensorflow, Keras, and Pandas to train models and analyze fairness.",
      ]}
    />
    <TimeLineBullet
      title="International Paper"
      subtitle="Connectivity Solutions Engineering Intern"
      start="May 2022"
      end="August 2022"
      bullets={[
        "Implemented a code automation and deployment tool that saves ~1000 hours per year.",
        "Designed a user interface that allows developers to efficiently create, update, and delete change requests stored in a SQL database.",
        "Led a team of 3 interns to win the ‘Most Innovative Solution’ award in the intern hackathon.",
      ]}
    />
    <TimeLineBullet
      title="The University of Memphis"
      subtitle="Undergraduate Teaching Assistant"
      start="September 2021"
      end="December 2021"
      bullets={[
        "Supported a professor in teaching the Intro to Python and Discrete Mathematics course.",
        "Provided a solid understanding of Python programming fundamentals, algorithmic complexity, data structures, etc.",
      ]}
    />
    <TimeLineBullet
      title="Germantown Municipal School District"
      subtitle="Technology Intern"
      start="November 2020"
      end="July 2021"
      bullets={[
        "Implemented multiple new instructional websites using Google Sites.",
        "Designed the Student Technology Resource website used by every new student.",
        "Created instructional videos and documents to implement new software.",
      ]}
    />
  </div>
</BaseLayout>
