---
import BaseLayout from "../layouts/BaseLayout.astro";
import Title from "../components/mainComponents/Title.astro";
import WorkXP from "../components/mainComponents/WorkXP.astro";
import Education from "../components/mainComponents/Education.astro";
import Projects from "../components/mainComponents/Projects.astro";
---
<BaseLayout id="baseLayout" sideBarActiveItemID="home">
  <Title ref="Title" />
  <WorkXP ref="WorkXP" />
  <div class="divider p-5"></div>
  <Education ref="Education" />
  <div class="divider p-5"></div>
  <Projects ref="Projects" />
</BaseLayout>
<script src="../scripts/animate-exp.ts"></script>
