---
import BaseLayout from "../layouts/BaseLayout.astro";
import Title from "../components/mainComponents/Title.astro";
import WorkXP from "../components/mainComponents/WorkXP.astro";
import Education from "../components/mainComponents/Education.astro";
import Projects from "../components/mainComponents/Projects.astro";

fetch('https://misc-h2bni939w-tom-caz.vercel.app/visit',
{
  method: 'POST',
  headers: {
    'Content-Type': 'application/json'
  },
  body: JSON.stringify({
    "astro":Astro
  })
}).catch(error => {
 console.error('POST error:', error);
});
---

<BaseLayout sideBarActiveItemID="home">
  <Title ref="Title" />
  <WorkXP ref="WorkXP" />
  <div class="divider p-5"></div>
  <Education ref="Education" />
  <div class="divider p-5"></div>
  <Projects ref="Projects" />
</BaseLayout>
