---
const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-base-300"; // For primary color replace with `active` class
---

<ul class="menu grow shrink menu-md overflow-y-auto">
  <li>
    <a class="py-3 text-base" id="home" href="/">Home</a>
  </li>
  <li>
    <a class="py-3 text-base" id="workxp" href="/#Work-Experience"
      >Work Experience</a
    >
  </li>
  <li>
    <a class="py-3 text-base" id="education" href="/#Education">Education</a>
  </li>
  <li>
    <a class="py-3 text-base" id="projects" href="/#Projects">Projects</a>
  </li>
  <div class="divider p-5"></div>
  <li><a class="py-3 text-base" id="cv" href="/cv">CV</a></li>
  <li>
    <a
      class="py-3 text-base"
      href="mailto:thomas.cazort@outlook.com"
      target="_blank"
      referrerpolicy="no-referrer-when-downgrade">Contact</a
    >
  </li>
</ul>

<script define:vars={{ sideBarActiveItemID: sideBarActiveItemID, activeClass: activeClass }}>
console.log('sidebar active item id', sideBarActiveItemID);
  const activeItemElem = document.getElementById(sideBarActiveItemID);
  let newItemElem = activeItemElem;
  activeItemElem && activeItemElem.classList.add(activeClass);
  function setActiveItem(id) {
    console.log('setting active item', id);
    console.log(activeItemElem)
    newItemElem.classList.remove(activeClass);
    newItemElem = document.getElementById(id);
    newItemElem.classList.add(activeClass);
  }
  document.getElementById('projects').addEventListener('click', () => setActiveItem('projects'))
  document.getElementById('education').addEventListener('click', () => setActiveItem('education'))
  document.getElementById('workxp').addEventListener('click', () => setActiveItem('workxp'))
  document.getElementById('home').addEventListener('click', () => setActiveItem(sideBarActiveItemID))
</script>


